.register-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    border-radius: 12px;
    height: 400px;
    width: 350px;
    background-color: rgb(218, 218, 218);
    text-align:center;
  }
  
  .register-title {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .register-error{
    margin-top:1rem;
    align-self:center;
    color:rgb(255, 0, 55);
  }

.register-btn {
  margin-bottom: 10px;
}

.register-navigate {
  color: #000;
  text-decoration: none;
  transition: all 0.5s;
}

.register-navigate:hover {
  color: #a4a4a4;
}